.getFocused-reminder-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:99999999999999999;
}

.getFocused-snoozeCounter-popup {    
    height: 370px;
    margin-right: 2rem;
    margin-top: 2rem;
    position: fixed;
    overflow: hidden;
    top: 0px;
    right: 0px;
    z-index:99999999999999999;
    overflow: hidden;
}